---
import Competition from '../components/competitions/Competition.astro';
import CompetitionTeam from '../components/competitions/CompetitionTeam.astro';
import LayoutPages from '../layouts/LayoutPages.astro';
import backgroundCompetition from '../images/competition-background.webp';
import imageEquipe1 from '../images/equipe1.webp';
import imageEquipe2 from '../images/equipe2.webp';
import imageEquipe4 from '../images/equipe4.webp';
import imageEquipe5 from '../images/equipe5.webp';
import imageEquipeFem from '../images/equipe-fem.webp';
import image from '../images/raquette-5.webp';
---

<LayoutPages pageTitle="Compétitions" srcImage={backgroundCompetition.src}>
  <Competition />
  <div class="flex flex-col bg-gray-100 items-center gap-10 py-20">
    <div class="flex items-center">
      <h2 class="italic text-3xl text-red-700">Nos équipes</h2>
      <img
        src={image.src}
        class="w-30 h-25 hidden lg:block"
        alt="Raquette de tennis de table"
      />
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-20">
      <CompetitionTeam
        number={1}
        srcImage={imageEquipe1.src}
        division="R2"
        composition={['Alain', 'David', 'Samuel', 'Jordan']}
      />
      <CompetitionTeam
        number={2}
        srcImage={imageEquipe2.src}
        division="D1"
        composition={[
          'Jeremy',
          'Alexandre',
          'Patrick Fo.',
          'Guillaume',
          'Johan',
          'Cristopher',
        ]}
      />
      <CompetitionTeam
        number={3}
        division="D3"
        composition={['Denis', 'Thierry', 'Franck', 'Ludovic', 'Patrick Ch.']}
      />
      <CompetitionTeam
        number={4}
        srcImage={imageEquipe4.src}
        division="D4"
        composition={[
          'Romane',
          'Stéphane',
          'Nathan',
          'Louane',
          'Jacky',
          'Patricia',
          'Cyril',
        ]}
      />
      <CompetitionTeam
        number={5}
        srcImage={imageEquipe5.src}
        division="D4"
        composition={[
          'Céline',
          'Dylan',
          'Nathalie',
          'Claudine',
          'Maurice',
          'Emilienne',
          'Enzo',
          'Mickael',
        ]}
      />
      <CompetitionTeam
        number={6}
        srcImage={imageEquipeFem.src}
        division="Féminines"
        composition={[
          'Céline',
          'Nathalie',
          'Claudine',
          'Romane',
          'Louane',
          'Emilienne',
        ]}
      />
    </div>
  </div>
</LayoutPages>
