---
import { Icon } from "astro-icon/components";

const {title, location, coach, day, time} = Astro.props;
---
<div class="flex flex-col w-full shadow-2xl">
    <h2 class="p-4 bg-linear-to-r from-red-700 to-red-900 text-white">{title}</h2>
    <div class="flex flex-col gap-2 py-2">    
        <div class="flex px-4 items-center gap-2">
            <Icon name="mdi:location" class="text-red-700"/>
            <p>{location}</p>
        </div>
        <div class="flex px-4 items-center gap-2">
            <Icon name="mdi:person" class="text-red-700"/>
            <p>Dirigé par {coach}</p>
        </div>
        <div class="flex px-4 items-center gap-2">
            <Icon name="mdi:calendar" class="text-red-700"/>
            <p>Tous les {day}</p>
        </div>
        <div class="flex px-4 items-center gap-2">
            <Icon name="mdi:clock-outline" class="text-red-700"/>
            <p>{time}</p>
        </div>
    </div>
</div>