---
import LayoutPages from './LayoutPages.astro';
import backgroundImage from '../images/raquette3.jpg';
import { Icon } from 'astro-icon/components';
import Tag from '../components/Tag.astro';

const { frontmatter } = Astro.props;
---

<LayoutPages pageTitle="Actualités" srcImage={backgroundImage.src}>
  <div class="flex flex-col items-center background-pattern-hexa-white">
    <div class="lg:w-250">
      <div class="flex flex-col bg-white px-4 lg:px-20 py-10 gap-4">
        <h2 class="text-3xl self-center lg:py-4">{frontmatter.title}</h2>
        <div class="flex flex-col lg:flex-row justify-start lg:justify-between">
          <div class="flex flex-col lg:flex-row w-full lg:gap-10">
            <div class="flex items-center gap-2">
              <Icon name="mdi:calendar-edit" class="text-red-800" />
              <p class="italic">
                Publié le {frontmatter.pubDate.toLocaleDateString()}
              </p>
            </div>
            <div class="flex items-center gap-2">
              <Icon name="mdi:account" class="text-red-800" />
              <p class="italic">{frontmatter.author}</p>
            </div>
          </div>
          <div class="flex gap-2 items-center">
            <Tag tagName={frontmatter.tag} />
          </div>
        </div>

        <div class="flex flex-col gap-10 leading-8">
          <img
            src={frontmatter.image.url}
            width="100%"
            alt={frontmatter.image.alt}
            class="rounded-md"
          />
          <slot />
        </div>
      </div>
    </div>
  </div>
</LayoutPages>
